<app-navbar></app-navbar>

<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <h1>{{noticia?.titulo}}</h1>
            <img src="http://localhost:8080/api/v1/crud/noticia/uploads/noticia/img/{{noticia?.id}}" alt="img 01">
            <h4>{{noticia?.titulo}}</h4>
            <div>
                <p>{{noticia?.resumen}}</p>
            </div>
            <div [innerHtml]="contenidoHtml">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
