<app-navbar></app-navbar>
<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <button class="btn btn-success" data-toggle="modal" data-target="#empresaModal">
        Create
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Denominación</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Domicilio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list$ | async">
            <th scope="row">{{item.id}}</th>
            <td>{{item.denominacion}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.email}}</td>
            <td>{{item.domicilio}}</td>
            <td>
              <button class="btn btn-warning mr-5" data-toggle="modal" data-target="#empresaModal" (click)="edit(item)">
                Edit
              </button>
              <button class="btn btn-danger" (click)="delete($event, item.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<modal-empresa [item]=emp></modal-empresa>