<app-navbar></app-navbar>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <button class="btn btn-success" data-toggle="modal" data-target="#empresaModal">
        Create
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5>Ordenado por {{sort}} de forma {{order}}</h5>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" (click)="sortBy('id')">ID</th>
            <th scope="col" (click)="sortBy('denominacion')">Denominación</th>
            <th scope="col" (click)="sortBy('telefono')">Telefono</th>
            <th scope="col" (click)="sortBy('email')">Email</th>
            <th scope="col" (click)="sortBy('domicilio')">Domicilio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of empresas?.content">
            <td scope="row">{{item.id}}</td>
            <td>{{item.denominacion}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.email}}</td>
            <td>{{item.domicilio}}</td>
            <td>
              <button class="btn btn-warning mr-5" data-toggle="modal" data-target="#empresaModal" (click)="edit(item)">
                Edit
              </button>
              <button class="btn btn-danger" (click)="delete($event, item.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
          <button class="btn" type="button" name="button" [disabled]="isFirst" (click)="previous()">Previous</button>
          <button class="btn" type="button" name="button" [disabled]="isLast" (click)="next()">Next</button>
        </ul>
      </nav>
    </div>
  </div>
</div>

<modal-empresa [item]=emp></modal-empresa>
