<app-navbar></app-navbar>
<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <h2>Texto buscado $query$</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="wrapNoticia"> <!-- NG-FOR -->
                <h4>Titulo</h4>
                <p>Resumen</p>
                <a href="#">Ver mas</a>
                <p>Fecha</p>
            </div> <!-- NG-FOR END-->
        </div>
    </div>
</div>
<app-footer></app-footer>
