<app-navbar></app-navbar>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <button class="btn btn-success" data-toggle="modal" data-target="#noticiaModal">
        Create
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Fecha</th>
            <th scope="col">Publicada</th>
            <th scope="col">Empresa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list$ | async">
            <th scope="row">{{item.id}}</th>
            <td>{{item.titulo}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.publicada}}</td>
            <!-- ACA ABAJO IRIA EMPRESA  -->
            <td></td>
            <td>
              <button class="btn btn-warning mr-5" data-toggle="modal" data-target="#empresaModal" (click)="edit(item)">
                Edit
              </button>
              <button class="btn btn-danger" (click)="delete($event, item.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<modal-noticia [item]=not></modal-noticia>
