<div class="container">
  <div class="row mt-5">
    <div class="col 4"></div>
    <div class="col 4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Ver página</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of list$ | async">
            <td> {{empresa.denominacion}} </td>
            <td>
              <a [routerLink]="[ '/', empresa.id,'home' ]">URL PAGINA HOME</a>
            </td>
          </tr>
          <tr>
            <td>
              <a [routerLink]="[ '/crud/empresa' ]">ABM Empresa</a>
            </td>
            <td>
              <a [routerLink]="[ '/crud/noticia' ]">ABM Noticia</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col 4"></div>
  </div>
</div>
